.jobs {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  row-gap: 3.5rem;
}

.action {
  margin: 2rem 0;
  text-align: center;
}

@media (max-width: 64rem) {
  .jobs {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 40rem) {
  .jobs {
    grid-template-columns: 1fr;
  }
}
