.filters {
  --shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);

  background-color: var(--color-elements);
  box-shadow: var(--shadow);

  display: grid;
  grid-template-columns: repeat(2, 1fr) repeat(2, max-content);
  gap: 2rem;
  padding: 1.15rem 2rem;
  border-radius: 9px;
}

.filters__item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.filters__label {
  font-size: 1rem;
  color: var(--color-input-text);
  font-weight: 500;
}
