.filters__item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.filters__item--modal {
  padding-bottom: 1rem;
}

.filters__item:not(:last-of-type) {
  border-right: 1px solid var(--color-line);
}

.filters__item--modal:not(:last-of-type) {
  border-right: 0;
  border-bottom: 1px solid var(--color-line);
}

.filters__label-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 64rem) {
  .filters__item {
    gap: 0.45rem;
  }
}

@media (max-width: 48rem) {
  .filters__item {
    width: 100%;
  }
  .filters__item:not(:last-of-type) {
    border: none;
  }

  .filters__item--modal:not(:last-of-type) {
    border-right: 0;
    border-bottom: 1px solid var(--color-line);
  }
}
