/* kumbh-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/kumbh-sans-v22-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* kumbh-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/kumbh-sans-v22-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* kumbh-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/kumbh-sans-v22-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* kumbh-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/kumbh-sans-v22-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --color-primary: #5964e0;
  --color-primary-lighter: #939bf4;
  --color-secondary: #19202d;
  --color-neutral: #ffffff;
  --color-dark-neutral: #121721;
  --color-card-background: #f4f6f8;
  --color-line: #6e8098;
  --color-hover: #d5d8f7;
  --color-error: #dc2626;

  --color-universal: #637389;
  --color-background: #f4f6f8;
  --color-elements: #ffffff;
  --color-input-text: #19202d;
  --color-checkbox: #e7e8e9;
  --color-job-special: #5964e0;
  --color-company-bg: #eeeffc;
  --color-company-bg-hover: #c5c9f4;
  --color-company: #505aca;
}

[data-theme="dark"] {
  --color-background: #121721;
  --color-elements: #19202d;
  --color-input-text: #ffffff;
  --color-checkbox: #313743;
  --color-error: #f87171;
  --color-universal: #7d8da2;
  --color-job-special: #7a83e6;
  --color-company-bg: #303642;
  --color-company-bg-hover: #696e76;
  --color-company: #ffffff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

body[data-modal="true"] {
  overflow-y: hidden;
}

@media (max-width: 48rem) {
  html {
    font-size: 13px;
  }
}
